/* ABOUT PAGE */


spline-viewer{
  a{
    display: none !important;
  }
}


.skills{
  width: 90vw;
  margin: 0 5vw;
}

.skillIcons{

  height: 5.6rem;

  display: flex;
  justify-content: space-evenly;

  flex-wrap: wrap;

  margin-bottom: 2rem;
}
.skillIcons img{
  max-height: 100%;
  margin: 1rem 0;
}
