<h1>Programming Projects Index Test</h1>

<% @programming_projects.each do |project| %>
  <%= project.title %>
  <%= cl_image_tag("w0lxqtuycfvzbanzmbbj",
      width: 400, height: 300, crop: :fill) %>
<% end %>
