<main class = "mainSection90Width">

  <h3 class = "h3Title90Width">Programming Projects</h3>

  <p>See more on <a href="https://www.github.com/byemalin" target="_blank">Github</a></p>
  <br>

  <div class="projectCardsContainer">
    <p>Currently being updated. Projects will be here June 16th 2025</p>
    <% @programming_projects.each do |project| %>

      <%= render 'shared/cards/programming_project_card' , project: project%>

    <% end %>
  </div>



</main>
