<h1>Programming Projects Index Test</h1>

<% @programming_projects.each do |project| %>
  <%= project.title %>

  <%# Cover Photo %>
  <%= cl_image_tag project.cover_photo.key %>


  <% project.photos.each do |photo| %>
    <%= cl_image_tag photo.key %>
  <% end %>
  <br>
<% end %>
