<%# <h3>Programming Projects</h3> %>

<div class="projectCardsContainer">
  <% @programming_projects.each do |project| %>

    <%= render 'shared/cards/project_card' , project: project%>

  <% end %>
</div>
