<h1><%= @project.title %></h1>

<h3>Programming Project Show</h3>

<%= cl_image_tag("w0lxqtuycfvzbanzmbbj",
      width: 400, height: 300, crop: :fill) %>


<iframe src="https://drive.google.com/file/d/11ShmZMn2z5mVLMxZOfCpLr0N4oq0ww4t/preview" width="640" height="480" allow="autoplay"></iframe>
