 <% if action_name != "landing" %>
  <footer>
      <section class="footerMain">
          <div>
              <h2> Have something in mind?</h2>
              <div class="inlineTextIMG">
                  <div class="profileImageContainer">
                      <img alt="profile picture" src="https://res.cloudinary.com/dxvi2kqnz/image/upload/v1714235462/malin_profile_photo_tjn7qw.jpg">
                  </div>
                  <h2>Let's build it together</h2>
              </div>
          </div>
        <a href=""><button class="cta">Get in touch</button></a>
      </section>

      <section class="footerLinks">
          <p class="smallText">&#128104;&#127997;&#8205;&#128187; Built from scratch with &#128150;</p>

          <nav>
              <ul>
                  <li><a href="https://www.linkedin.com/in/malin-mabika/" target="_blank">Linkedin</a></li>
                  <li><a href="https://www.instagram.com/byemalin/" target="_blank">Instagram</a></li>
                  <li><a href="https://github.com/malin888" target="_blank">Github</a></li>
              </ul>
          </nav>
      </section>
  </footer>
<% end%>
