<%#Navbar not to show on landing page%>
<% if action_name != "landing" %>

  <header>
    <%= image_tag "logos/byemalinLogo.svg" %>
    <nav>
        <ul>
          <li><%= link_to "Home", home_path%></li>
          <li><%= link_to "About", home_path%></li>
          <li><%= link_to "Contact", home_path%></li>
        </ul>
    </nav>
  </header>

<% end%>
