<!-- popup container: -->
    <section class="popupMenuContainer">
        <div class="popupMenu">
            <div class="popupContent">
                <nav id="columnNav">
                      <ul>
                        <li><%= link_to "Home", home_path%></li>
                        <li><%= link_to "About", home_path%></li>
                        <li><%= link_to "Contact", home_path%></li>
                      </ul>
                </nav>

                <nav>
                    <ul>
                        <li><a href="https://www.linkedin.com/in/malin-mabika/" target="_blank">Linkedin</a></li>
                        <li><a href="https://www.instagram.com/byemalin/" target="_blank">Instagram</a></li>
                        <li><a href="https://github.com/malin888" target="_blank">Github</a></li>
                    </ul>
                </nav>
            </div>

            <div>
                <div class="closeIcon">
                    <svg width="57" height="58" viewBox="0 0 57 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="13.4345" y1="42.4345" x2="41.7188" y2="14.1502" stroke="#0B0C0E" stroke-width="2"/>
                        <line x1="41.7197" y1="43.8487" x2="13.4354" y2="15.5644" stroke="#0B0C0E" stroke-width="2"/>
                    </svg>
                </div>
            </div>
        </div>
    </section>
