
.projectCardsContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 40px;
}

.projectCard{
  width: 100%;
  h3{
    margin: 0;
    margin-top: 10px;
  }
  img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    transition: all 400ms;
    &:hover{
      box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
    }
  }
  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #C7D0D9;
    margin-top: 1rem;
    padding-top: 1rem;
  }
}

.programmingProjectCard{
  .imageContainer{
  }
}

.animationProjectCard{

  .imageContainer{
    width: 36vh;
    height: 64vh;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 16px;

  }
  img{
    height: 100%;
    width: auto;
    margin: 0 auto;
  }
  .smallText{
    margin: 5px;
  }
  .tags{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

  }
}



@media only screen and (max-width: 1020px){
  .projectCard{
    .openIcon{
      display: none;
    }
  }
}

@media only screen and (max-width: 830px){
  .projectCardsContainer{
    grid-template-columns: 1fr;
  }
}
