/* Recent Work */

.recentProject{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 2rem;

  border-bottom: 1px solid #C7D0D9;
}

.recentProject h2{
  margin:0;
}


.openIcon{
  width:4.7rem;
  height: 4.7rem;
  border: 1px solid #3C3D3E;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 1s;
}
.openIcon svg {
  width: 1.2rem;
  height: 1.2rem;
}
.openIcon:hover,
.openIcon svg path:hover{
  background-color: #3C3D3E;
  fill: #F4F7FA;
}
