<!-- popup container: -->
<%= render "shared/popup" %>

<main class="about">
        <section class="splitSection">
            <div class="left">
                <div class="imageContainer">
                    <!-- <img alt="Rotating Globe GIF" src="./assets/img/gifs/oblationCropped.gif"> -->
                    <canvas id="animation-scrolling"></canvas>
                </div>
            </div>
            <div class="right">
                <p id="aboutIntro1">Hello, I'm Malin, a multi-disciplinary designer originally from Lusaka, Zambia, and now based in Paris. I'm currently in my final semester pursuing a bachelors degree in Art, Media, and Technology at Parsons School of Design in Paris, where I've been able to hone my skills in programming and front-end development. With a passion for creating visually stunning, user-friendly designs, I've gained hands-on experience in front-end development, UI/UX design, animation, and graphic design.</p>
                <br>
                <p>My design philosophy centres around the idea of design as a tool for enhancing the human experience. I believe in creating designs that are not only beautiful but also functional and intuitive. Whether I'm working on a website or an animation, I strive to make every project an opportunity to connect with users on a deeper level.</p>
                <br>
                <p>As a creative mind, I enjoy the challenge of pushing boundaries and exploring new possibilities in design. I stay up to date with the latest trends and techniques, and I love experimenting with new technologies and design concepts. With a keen eye for detail and a commitment to excellence, I take pride in delivering high-quality work that exceeds client expectations.</p>
                <br>
                <p>I'm currently seeking new opportunities in front-end software development, and I'm excited about the prospect of working with innovative companies and like-minded individuals who share my passion for design. If you're interested in collaborating or learning more about my work, please don't hesitate to get in touch!</p>
            </div>
        </section>

        <section class="skills">

            <h3>Development Skills</h3>
            <div class="skillIcons">
                <img title= "Javascript" alt="Javascript Icon" src="./assets/img/icons/logos/development/javascriptLogo.svg">
                <img title= "HTML" alt="HTML Icon" src="./assets/img/icons/logos/development/HTMLLogo.svg">
                <img title= "CSS" alt="CSS Icon" src="./assets/img/icons/logos/development/CSSLogo.svg">
                <img title= "React" alt="React Icon" src="./assets/img/icons/logos/development/reactLogo.svg">
                <img title= "Github" alt="Github Icon" src="./assets/img/icons/logos/development/githubLogo.svg">
                <img title= "Git" alt="Git Icon" src="./assets/img/icons/logos/development/gitLogo.svg">
                <img title= "NodeJS" alt="NodeJS Icon" src="./assets/img/icons/logos/development/nodejsLogo.svg">

            </div>
            <h3>Proficient Softwares</h3>
            <div class="skillIcons">
                <img title= "Figma" alt="Figma Icon" src="./assets/img/icons/logos/softwares/figmaLogo.svg">
                <img title= "Blender" alt="Blender Icon" src="./assets/img/icons/logos/softwares/blenderLogo.svg">
                <img title= "Illustrator" alt="Illustrator Icon" src="./assets/img/icons/logos/softwares/illustratorLogo.svg">
                <img title= "Photoshop" alt="Photoshop Icon" src="./assets/img/icons/logos/softwares/photoshopLogo.svg">
                <img title= "Premiere Pro" alt="Premiere Pro Icon" src="./assets/img/icons/logos/softwares/premiereproLogo.svg">
                <img title= "After Effects" alt="After Effects Icon" src="./assets/img/icons/logos/softwares/aftereffectsLogo.svg">
                <!-- <img title= "Visual Studio Code" alt="Visual Studio Code Icon" src="./assets/img/icons/logos/softwares/vscodeLogo.svg"> -->
            </div>

        </section>
    </main>
