<script type="module" src="https://unpkg.com/@splinetool/viewer@1.1.9/build/spline-viewer.js"></script>


<main class="about">

  <section class="hero">
    <%= render "shared/navbar" %>
    <spline-viewer loading-anim-type="spinner-small-light" url="https://prod.spline.design/aeD3wU0OsUgiq4eg/scene.splinecode"></spline-viewer>
  </section>


  <section id = "aboutContent">

    <h3>About</h3>

    <p>Hello, I'm Malin, a versatile programmer and designer based in Paris, originally from Lusaka, Zambia. My journey in tech began at Parsons School of Design, where I earned a BFA in Art, Media, and Technology, deeply exploring the intersection of art and technology. During my studies, I also completed a full-stack Web Development Bootcamp at Le Wagon, where I led projects like a flight-searching app and a clone of Airbnb.</p>
    <br>
    <p>Currently freelancing full-time, I specialise in 3D Product Advertisement and Indie Software Development. My professional portfolio includes a range of projects from animations to frontend solutions, working across sectors like fashion, fintech, and the arts. </p>
    <br>
    <p>I thrive on blending aesthetics with functionality, ensuring every design is not only visually compelling but also highly usable. Whether crafting detailed animations or designing intuitive user interfaces, my goal is to create impactful, resonant experiences.</p>
    <br>
    <p>Always eager to push the envelope and innovate, I actively seek out challenges that sharpen my skills and expand my horizons. If you're looking for a dynamic animator, designer, or developer to bring a fresh perspective to your project, please don't hesitate to reach out!</p>
    <br>

    <h3>Development Skills</h3>
    <div class="skillIcons">
        <img title= "Javascript" alt="Javascript Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg">
        <img title= "HTML" alt="HTML Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-plain-wordmark.svg">
        <img title= "CSS" alt="CSS Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-plain-wordmark.svg">
        <img title= "React" alt="React Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original-wordmark.svg">
        <%# <img title= "Github" alt="Github Icon" src="./assets/img/icons/logos/development/githubLogo.svg"> %>
        <%# <img title= "Git" alt="Git Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-plain-wordmark.svg"> %>
        <%# <img title= "NodeJS" alt="NodeJS Icon" src="./assets/img/icons/logos/development/nodejsLogo.svg"> %>
        <img title= "Ruby" alt="Ruby Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/ruby/ruby-plain-wordmark.svg">
        <img title= "Rails" alt="Rails Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/rails/rails-plain-wordmark.svg">

    </div>

    <h3>Proficient Softwares</h3>
    <div class="skillIcons">
        <img title= "Figma" alt="Figma Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/figma/figma-original.svg">
        <img title= "Blender" alt="Blender Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/blender/blender-original-wordmark.svg">
        <img title= "Illustrator" alt="Illustrator Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/illustrator/illustrator-plain.svg">
        <img title= "Photoshop" alt="Photoshop Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/photoshop/photoshop-plain.svg">
        <img title= "Premiere Pro" alt="Premiere Pro Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/premierepro/premierepro-plain.svg">
        <img title= "After Effects" alt="After Effects Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/aftereffects/aftereffects-plain.svg">
        <!-- <img title= "Visual Studio Code" alt="Visual Studio Code Icon" src="./assets/img/icons/logos/softwares/vscodeLogo.svg"> -->
    </div>

    <br>
  </section>
</main>
