<script type="module" src="https://unpkg.com/@splinetool/viewer@1.1.9/build/spline-viewer.js"></script>


<main class="about">
  <section class="hero">
    <spline-viewer loading-anim-type="spinner-small-light" url="https://prod.spline.design/aeD3wU0OsUgiq4eg/scene.splinecode"></spline-viewer>
  </section>

  <section id = "aboutContent">

    <h3>About</h3>

    <p>Hello, I'm Malin, a multi-disciplinary designer originally from Lusaka, Zambia, and now based in Paris. I'm currently in my final semester pursuing a bachelors degree in Art, Media, and Technology at Parsons School of Design in Paris, where I've been able to hone my skills in programming and front-end development. With a passion for creating visually stunning, user-friendly designs, I've gained hands-on experience in front-end development, UI/UX design, animation, and graphic design.</p>
    <br>
    <br>
    <p>My design philosophy centres around the idea of design as a tool for enhancing the human experience. I believe in creating designs that are not only beautiful but also functional and intuitive. Whether I'm working on a website or an animation, I strive to make every project an opportunity to connect with users on a deeper level.</p>
    <br>
    <p>As a creative mind, I enjoy the challenge of pushing boundaries and exploring new possibilities in design. I stay up to date with the latest trends and techniques, and I love experimenting with new technologies and design concepts. With a keen eye for detail and a commitment to excellence, I take pride in delivering high-quality work that exceeds client expectations.</p>
    <br>
    <p>I'm currently seeking new opportunities in front-end software development, and I'm excited about the prospect of working with innovative companies and like-minded individuals who share my passion for design. If you're interested in collaborating or learning more about my work, please don't hesitate to get in touch!</p>


    <h3>Development Skills</h3>
    <div class="skillIcons">
        <img title= "Javascript" alt="Javascript Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg">
        <img title= "HTML" alt="HTML Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-plain-wordmark.svg">
        <img title= "CSS" alt="CSS Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-plain-wordmark.svg">
        <img title= "React" alt="React Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original-wordmark.svg">
        <%# <img title= "Github" alt="Github Icon" src="./assets/img/icons/logos/development/githubLogo.svg"> %>
        <img title= "Git" alt="Git Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-plain-wordmark.svg">
        <%# <img title= "NodeJS" alt="NodeJS Icon" src="./assets/img/icons/logos/development/nodejsLogo.svg"> %>
        <img title= "Ruby" alt="Ruby Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/ruby/ruby-plain-wordmark.svg">
        <img title= "Rails" alt="Rails Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/rails/rails-plain-wordmark.svg">

    </div>

    <h3>Proficient Softwares</h3>
    <div class="skillIcons">
        <img title= "Figma" alt="Figma Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/figma/figma-original.svg">
        <img title= "Blender" alt="Blender Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/blender/blender-original-wordmark.svg">
        <img title= "Illustrator" alt="Illustrator Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/illustrator/illustrator-plain.svg">
        <img title= "Photoshop" alt="Photoshop Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/photoshop/photoshop-plain.svg">
        <img title= "Premiere Pro" alt="Premiere Pro Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/premierepro/premierepro-plain.svg">
        <img title= "After Effects" alt="After Effects Icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/aftereffects/aftereffects-plain.svg">
        <!-- <img title= "Visual Studio Code" alt="Visual Studio Code Icon" src="./assets/img/icons/logos/softwares/vscodeLogo.svg"> -->
    </div>

  </section>
</main>
