<main class="contact">
  <section class="splitSection">
      <div class="left">
          <div class="profileImageContainer">
              <img alt="profile picture" src="https://res.cloudinary.com/dxvi2kqnz/image/upload/v1714235462/malin_profile_photo_tjn7qw.jpg">
          </div>

          <address>
              <p class="smallText">Email</p>
              <a href = mailto:"malin@byemalin.com">malin@byemalin.com</a>

              <p class="smallText">Social</p>
              <ul>
                  <li><a href="https://www.linkedin.com/in/malin-mabika/" target="_blank">Linkedin</a></li>
                  <li><a href="https://www.instagram.com/byemalin/" target="_blank">Instagram</a></li>
                  <li><a href="https://github.com/byemalin" target="_blank">Github</a></li>
              </ul>
          </address>
      </div>
      <div class="right">
          <!-- <h2>Let's build together</h2> -->
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSemJc_dvOZt3nP2QTK0oA4ZLf_PXNM8JLj6hNwVK6xklZ6hQw/viewform?embedded=true">Loading…</iframe>
      </div>
  </section>
</main>
