<!--  -->


<section class="hero">
    <div id="heroImageContainer">
        <div class="spacer"></div>
        <!-- Line drawing image for hero:-->
        <img alt='An abstract line drawing' src="https://res.cloudinary.com/dxvi2kqnz/image/upload/v1714049528/lineDrawing_nqjjlg.png">
    </div>


    <!-- POPUP MENU: -->
    <!-- Greeting Container: -->
    <div id="greetingContainer">
        <div id="menuGreeting">
            <h3>&#128075;</h3>
            <h3>Hi I'm Malin</h3>
        </div>
    </div>

    <!-- popup container: -->
    <%= render "shared/popup" %>
</section>



<!-- About Split Section: -->

<section class="splitSection">
    <div class="left">
        <h3>About</h3>

    </div>
    <div class="right">
        <p id="homeAboutBlurb">Hello, I'm Malin, a multi-disciplinary programmer and designer from Lusaka, now creating in Paris.</p>
        <p>Specialising in <strong>3D Product Advertisement</strong> and <strong>Indie Software Development,</strong> I blend aesthetics with functionality to craft designs that resonate.</p>
        <%= link_to 'Read more', about_path %>
    </div>
</section>


<!-- Projects Split Section: -->

<section class="splitSection" class="projectsSplitSection">
    <div class="left">
            <h3>Recent Work</h3>
    </div>
    <div class="right" id="recentWork">

        <a href="/programming_projects">
            <div class="recentProject" id="project1">
                <div>
                    <h2>Programming Projects</h2>
                    <p class="smallText">Web Design - Frontend Development - Fullstack Development</p>
                </div>
                <div class="openIcon">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.83007 0.457528V3.11625L12.3612 3.12568L0.88726 14.5997L2.77288 16.4853L14.2469 5.0113L14.2563 15.5425H16.915V0.457528H1.83007Z" fill="#3C3D3E"/>
                    </svg>
                </div>
            </div>
        </a>


        <a href="/animation_projects">
            <div class="recentProject" id="project2">
                <div>
                    <h2>Animation Projects</h2>
                    <p class="smallText">3D Animation - Advertisting - Graphic Design </p>
                </div>
                <div class="openIcon">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.83007 0.457528V3.11625L12.3612 3.12568L0.88726 14.5997L2.77288 16.4853L14.2469 5.0113L14.2563 15.5425H16.915V0.457528H1.83007Z" fill="#3C3D3E"/>
                    </svg>
                </div>
            </div>
        </a>


    </div>
</section>
