<!-- Welcome Mat Landing Page -->
<body>
    <main id="landingPageGIFcontainer" >
        <a href="./home.html">
            <img alt="A GIF of A Welcome Mat" src="https://res.cloudinary.com/dxvi2kqnz/image/upload/v1713537650/welcomeMat_l3dpdx.gif" title="Click to proceed" class="GIF">
        </a>
    </main>
</body>
