<!-- Welcome Mat Landing Page -->
<body>
    <main id="landingPageGIFcontainer" >
        <%# <a href="./home.html> %>
        <a>
            <img alt="A GIF of A Welcome Mat" src="/assets/gifs/welcomeMat.gif" title="Click to proceed" class="GIF">
        </a>
    </main>
</body>
