

<head>
    <title>Terrain</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- p5 script -->
    <!-- <script src="./scripts/p5.js" defer></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.10.0/p5.min.js" integrity="sha512-lvddmeF7aHRJwdbJeYThWd5kWSjTrXBzCRF/jYROiHzmhMJ1dEXfGH5Q7ft0yhizXTopAETG03s5ajTflauijA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Script for p5 SVG library -->
    <script src="https://unpkg.com/p5.js-svg@1.3.1" defer></script>






    <!-- <script src="./scripts/responsiveMenu.js" defer></script> -->

</head>

<body>

    <!-- HEADER -->
    <header class="terrainHeader">
      <div class="LogoContainer">
        <a href="javascript:window.location.reload(true)">
            <div class="headerLogoContainer">
                <!-- <img src="./assets/img/byemalinLogo.svg"> -->
                <!-- <?xml version="1.0" encoding="UTF-8"?><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1619.28 468.72"><path d="M239.96,468.72c-3-.44-6.01-.79-8.99-1.32-7.75-1.39-15.28-3.53-22.27-7.25-11.9-6.33-18.8-16.29-21.14-29.48-.74-4.2-.98-8.45,0-12.63,1.79-7.68,6.22-13.27,13.68-16.11,7.03-2.67,13.37-1.27,18.8,3.92,2.6,2.48,5.01,5.16,7.92,7.32,8.02,5.97,17,8.18,26.9,7.17,8.6-.87,16.82-3.06,24.66-6.65,12.12-5.55,21.35-14.21,27.71-25.9,4.78-8.79,7.67-18.25,9.88-27.95,2.34-10.31,3.65-20.76,4.44-31.3,.67-8.92,1.23-17.85,1.45-26.8,.05-1.91,.27-3.83,.33-5.74,.02-.75,.43-1.75-.39-2.2-.67-.37-1.32,.37-1.92,.72-3.26,1.87-6.49,3.79-9.76,5.65-5.35,3.05-10.61,6.26-16.36,8.54-13.81,5.48-27.53,5.09-41.04-.93-15.58-6.94-27.97-17.82-37.89-31.56-11.25-15.6-17.7-33.19-21.25-51.96-2.36-12.48-2.93-25.09-2.23-37.73,.49-8.84,1.12-17.72,3.72-26.29,1.18-3.91,2.57-7.75,4.48-11.36,4.37-8.26,12.66-12.45,21.55-10.96,9.29,1.55,15.98,9.14,16.38,18.62,.18,4.25-.21,8.46-.74,12.67-1.19,9.36-2.14,18.74-1.69,28.2,.57,12.1,3.18,23.73,7.93,34.88,2.38,5.61,5.16,10.99,8.81,15.91,5.29,7.12,12.03,12.3,20.36,15.42,1.87,.7,3.47,.63,5.24-.35,6.41-3.51,11.02-8.63,14.06-15.24,2.76-6.02,4.18-12.42,5.25-18.89,.96-5.84,1.38-11.73,1.66-17.65,.52-11.25,1.06-22.51,2.75-33.66,.71-4.68,1.72-9.3,4.07-13.47,7.99-14.14,27.67-16.76,39.21-3.37,4.54,5.27,7.95,11.22,10.02,17.87,3,9.61,6.39,19.1,8.92,28.86,1.96,7.53,3.11,15.18,3.62,22.93,.68,10.28,1.4,20.56,1.89,30.86,.66,13.74,.84,27.49,.56,41.24-.42,20.89-2.34,41.63-6.27,62.17-2.49,13-5.96,25.7-11.64,37.71-11.95,25.29-30.43,43.98-56.17,55.25-13.3,5.82-27.24,9.19-41.68,10.51-.47,.04-.92,.22-1.39,.33h-13.44Z"/><path d="M25.92,0c.37,.14,.74,.3,1.12,.41,9.54,2.74,14.44,9.48,16.21,18.86,.36,1.88,.45,3.8,.5,5.73,.22,9.19,.35,18.38,.63,27.56,.3,10.23,.09,20.47,.46,30.69,.29,7.83,.2,15.66,.44,23.49,.26,8.3,.54,16.61,1,24.91,.19,3.51,.33,7.02,.43,10.54,.01,.56,.04,1.12,.13,1.67,.31,1.96,.61,2.21,2.63,2.34,8.37,.53,16.75,.98,25.1,1.91,14.97,1.67,28.05,7.58,38.83,18.11,15.91,15.55,25.58,34.46,28.83,56.42,4.09,27.57-3.09,52.1-20.97,73.47-8.16,9.75-18.11,17.33-29.3,23.3-13.57,7.23-27.96,12.24-43,15.35-5.67,1.17-11.38,1.54-17.14,.35-8.56-1.78-14.73-6.66-18.94-14.18-2.97-5.29-4.62-11.04-5.73-16.96-1.88-10.07-3.1-20.19-3.5-30.45-.31-8.15-.15-16.3-.43-24.45-.37-10.87-.18-21.74-.54-32.6-.31-9.59-.12-19.18-.43-28.77-.39-12.39-.16-24.78-.53-37.16-.35-11.83-.08-23.66-.46-35.48-.42-13.11-.14-26.22-.5-39.32-.18-6.31-.19-12.62-.31-18.94-.02-.88,.02-1.76-.44-2.57v-15.83c.74-2.22,.6-4.55,.83-6.83,.44-4.44,.77-8.89,1.96-13.21C4.4,12.5,7.36,7.52,12.21,3.75,14.59,1.9,17.37,.96,20.16,0,22.08,0,24,0,25.92,0Zm23.38,195.49c-.35,.41-.27,.9-.33,1.37-.7,5.64-.45,11.32-.77,16.98-.41,7.26,.15,14.53,.5,21.78,.48,9.8,1.43,19.58,2.8,29.31,.66,4.66,1.34,9.32,2.08,13.97,.32,2.01,.47,2.08,2.3,1.57,9.95-2.8,19.27-6.88,27.1-13.8,8.51-7.52,13.13-16.94,13.39-28.38,.21-8.98-2.19-17.36-5.88-25.45-.52-1.15-1.48-1.6-2.53-2.03-12.29-4.98-24.58-9.97-36.87-14.94-.57-.23-1.11-.68-1.8-.38Z"/><path d="M1619.28,364.61c-.11,.55-.27,1.09-.31,1.64-.31,5.04-2.66,9.02-6.62,11.98-6.78,5.06-14.04,5.73-21.65,1.92-2.42-1.21-4.31-3.04-5.78-5.28-5.77-8.82-10.3-18.16-12.83-28.49-4.17-17.08-7.76-34.29-11.44-51.49-3.09-14.46-6.48-28.85-9.86-43.24-.51-2.15-.77-4.37-1.68-6.36-.8-.1-1.16,.4-1.57,.74-3.32,2.76-6.66,5.5-9.91,8.33-1.94,1.69-3.47,3.74-4.8,5.95-4.27,7.14-8.02,14.56-11.76,21.99-2.41,4.79-4.89,9.53-7.58,14.17-3.22,5.54-7.52,9.9-13.64,12.24-7.93,3.03-20.81,1.55-27.68-6.26-3.34-3.79-5.26-8.21-6.06-13.1-1.38-8.36-2.63-16.73-3.86-25.11-1.42-9.72-2.78-19.46-4.1-29.19-1.41-10.45-2.79-20.91-4.09-31.37-.98-7.93-1.89-15.86-2.69-23.81-.52-5.08-.74-10.2-1.18-15.29-.35-3.99-.47-7.97-.46-11.97,0-2.17,.2-4.32,.63-6.43,1.85-9.19,7.85-14.53,16.42-17.34,2.86-.94,5.71-.2,8.46,.77,2.04,.72,3.97,1.7,5.77,2.9,2.52,1.68,4.46,3.81,5.64,6.66,2.55,6.16,4.2,12.58,5.48,19.1,2.71,13.72,5.23,27.47,7.31,41.31,.71,4.74,1.5,9.47,2.31,14.2,.26,1.54,.56,1.68,1.86,.76,4.11-2.92,8.18-5.88,12.24-8.86,5.55-4.07,11.1-8.13,17.2-11.36,5.87-3.1,12.08-5.17,18.77-5.25,9.17-.12,16.99,3.32,23.6,9.59,5.95,5.65,10.08,12.57,13.66,19.84,3.38,6.86,5.39,14.17,7.13,21.58,4.4,18.75,8.7,37.53,12.74,56.36,3.29,15.31,6.49,30.65,9.76,45.96,.22,1.01,.11,2.09,.58,3.05v19.19Z"/><path d="M847.82,190.78c-3.91,4.83-8.02,8.99-10.45,14.58-7.56,17.37-14.9,34.84-22.31,52.27-1.78,4.2-3.79,8.3-6.49,12-3.74,5.13-8.45,8.98-14.85,10.24-16.47,3.23-29.03-7.95-30.33-21.99-.55-5.97-.86-11.95-.93-17.94-.12-10.87-.19-21.74-.52-32.6-.28-9.43-1.82-18.62-6.59-26.98-.16-.28-.29-.57-.46-.84-.37-.59-.54-1.53-1.32-1.58-.98-.06-1.14,.98-1.48,1.66-4.04,8.08-6.56,16.64-8.04,25.52-1.23,7.41-1.85,14.9-2.53,22.38-.86,9.39-1.55,18.8-3.75,28.01-1.45,6.07-4.57,11.05-9.97,14.4-12.73,7.9-32.38,1.25-34.41-16.74-1.23-10.88-2.51-21.74-3.69-32.63-.93-8.66-1.77-17.32-2.59-25.99-.93-9.78-1.86-19.56-2.69-29.35-.48-5.57-.71-11.16-1.16-16.74-.28-3.43-.47-6.85-.47-10.29,0-1.85,.23-3.67,.63-5.47,1.89-8.57,8.27-13.84,17.23-14.28,3.78-.18,7.5,.21,11.18,1.12,1.24,.31,2.5,.56,3.73,.89,5.83,1.55,11.41,.73,16.83-1.7,5.04-2.26,10.21-4.18,15.62-5.37,11.72-2.59,21.82,.41,30.4,8.71,6.27,6.06,11.08,13.21,15.51,20.65,2.94,4.95,5.8,9.95,8.69,14.92,.2,.35,.39,.7,.61,1.03,1,1.53,1.18,1.59,2.49,.29,4.37-4.34,8.69-8.72,13.07-13.06,3.93-3.9,8.18-7.41,13.04-10.11,13.71-7.61,28.53-6.35,40.33,3.97,4.51,3.94,8,8.7,11.17,13.71,8.26,13.08,13.99,27.3,18.56,42,5.07,16.34,9.97,32.73,16.04,48.73,3.89,10.26,8.33,20.25,14.55,29.38,2.16,3.18,4.51,6.21,7.09,9.06,3.68,4.07,6.22,8.67,7.09,14.15,2.31,14.59-8.04,23.98-19.23,25.28-5.04,.58-9.78-.35-13.85-3.42-9.45-7.13-17.89-15.27-23.97-25.55-4.2-7.1-7.67-14.57-10.86-22.17-4.92-11.72-9.72-23.5-13.81-35.53-3.06-9-5.93-18.08-8.71-27.17-1.87-6.11-5.08-11.52-8.4-17.42Z"/><path d="M510.48,254.99c4.62,1.81,9.06,3.02,13.69,3.52,8.91,.96,16.92-1.44,24.32-6.34,3.26-2.16,6.59-4.25,10.18-5.85,5.54-2.47,11.3-3.58,17.3-2.25,6.84,1.52,11.78,5.58,14.77,11.89,2.55,5.39,2.24,10.86,0,16.28-1.45,3.5-3.53,6.64-6.04,9.46-12.31,13.86-27.87,21.65-46.04,24.49-11.94,1.87-23.74,1.09-35.38-2.22-11.59-3.3-21.82-8.96-30.66-17.19-9.77-9.09-17.3-19.64-21.65-32.33-2.24-6.53-3.55-13.27-4.66-20.06-1.4-8.63-1.9-17.33-1.4-26.05,1.15-19.77,6.77-38.15,17.41-54.93,9.25-14.6,21.18-26.61,35.38-36.36,7.07-4.85,14.83-8.18,23.41-9.35,11.28-1.54,21.61,.98,30.98,7.38,6.22,4.25,11.3,9.67,15.38,15.97,6.53,10.09,11.37,20.93,13.55,32.82,3.58,19.51-1.6,36.52-14.86,51.17-6.01,6.64-13.16,11.87-20.49,16.89-10.57,7.22-21.51,13.85-32.25,20.8-.92,.6-1.96,1.05-2.93,2.26Zm-15.17-53c0,.68-.02,1.48,0,2.28,.06,2.23,.41,2.57,2.53,2.27,3.9-.55,7.64-1.63,11.23-3.3,5.21-2.43,9.7-5.87,13.92-9.69,3.2-2.89,6.51-5.66,9.18-9.09,2.66-3.41,3.07-7.1,1.76-11.07-.4-1.21-.93-2.38-1.48-3.53-1.79-3.76-4.09-7.23-6.34-10.72-1.1-1.71-1.22-1.72-3.02-.53-5.16,3.39-10.05,7.1-14.32,11.59-8.43,8.88-13.03,19.4-13.48,31.79Z"/><path d="M1041.71,227.11c2.6,.23,5.24,.52,7.89-.43,5.12-1.84,10.31-3.49,15.69-4.4,2.91-.49,5.82-.81,8.82-.39,4.96,.69,8.85,3.05,11.96,6.86,3.37,4.14,5.6,8.92,7.75,13.75,2.68,5.99,4.64,12.26,6.86,18.42,1.98,5.5,4.4,10.81,6.9,16.08,5.85,12.37,12.34,24.39,20.08,35.71,4.79,7.01,10.24,13.5,15.63,20.04,3.01,3.65,5.61,7.58,7.52,11.94,3.8,8.62,1.32,20.36-5.73,26.65-5.27,4.7-11.36,5.89-17.83,3.08-7.21-3.14-13.99-7.15-19.69-12.64-4.09-3.94-7.54-8.48-11-12.98-10.98-14.29-20.94-29.25-29.37-45.2-1.34-2.54-2.79-5.03-4.23-7.53-.89-1.55-1.15-1.6-2.5-.4-3.41,3.02-6.8,6.07-10.19,9.11-4.23,3.79-8.55,7.47-13.17,10.78-5.67,4.06-11.85,6.92-18.76,8.13-13.1,2.29-25.2-3.7-31.6-15.06-3.15-5.59-4.82-11.63-5.45-18-.59-5.97-.96-11.95-.82-17.95,.54-23.67,6.55-45.77,19.05-66,9.39-15.2,21.32-28.15,35.37-39.11,7.84-6.12,16.83-9.46,26.91-9.35,9.94,.11,18.55,3.73,26.01,10.2,2.6,2.26,4.89,4.81,6.95,7.59,9,12.14,.46,28.65-12.51,30.82-4,.67-7.95,.76-11.9-.24-3.41-.87-6.82-1.72-10.21-2.67-1.19-.33-1.93-.05-2.65,.93-5.16,7.02-10.36,14.02-15.55,21.02-.23,.31-.51,.63-.24,1.24Z"/><path d="M1227.68,178.41c0-9.67-.12-19.35,.03-29.02,.16-9.82,.48-19.65,.95-29.46,.48-10.05,1.06-20.1,1.9-30.13,1.16-13.85,2.3-27.7,4.66-41.42,1.06-6.16,2.5-12.23,4.92-18.01,3.05-7.29,8.39-12.01,16.33-13.29,9.07-1.47,20.55,2.56,22.17,16.71,.33,2.87,.29,5.71,.09,8.6-.36,5.34-.41,10.7-.66,16.04-.4,8.46-.87,16.91-1.27,25.36-.25,5.27-.39,10.54-.65,15.8-.39,7.98-.88,15.95-1.26,23.93-.46,9.74-1.01,19.49-.47,29.23,.33,5.99,.17,11.99,.45,17.97,.46,9.66,.53,19.32,.84,28.99,.26,8.07,.29,16.14,.6,24.2,.39,10.14,.6,20.28,.97,30.42,.34,9.37,1.37,18.65,5.1,27.42,1.76,4.14,3.93,8.03,6.63,11.63,2.46,3.28,4.49,6.78,5.57,10.8,1.89,7.07,.04,13.13-4.88,18.31-4.65,4.89-10.48,7.46-17.14,8.28-7.51,.92-14.28-.81-20.19-5.63-2.39-1.95-4.04-4.53-5.68-7.08-6.37-9.96-10.47-20.77-12.47-32.44-1.81-10.56-3.46-21.13-4.57-31.78-.45-4.29-.82-8.59-1.03-12.9-.39-7.74-.48-15.49-.65-23.24-.29-13.1-.42-26.21-.3-39.31Z"/><path d="M1375.23,199.92c9.68,.02,18.21,6.78,20.99,16.63,1.16,4.1,1.46,8.34,1.82,12.55,.7,8.2,.79,16.43,1.18,24.64,.36,7.55-.73,14.97-.98,22.46-.31,9.44-.26,18.85,2.17,28.08,1.58,6.01,4.01,11.67,7.79,16.61,3.69,4.82,3.99,9.83,1.43,15.06-3.21,6.55-8.26,11.13-15.39,13.09-3.43,.94-6.9,.57-10.01-1.19-6.71-3.78-12.98-8.16-18.03-14.1-4.57-5.36-7.27-11.61-9.07-18.31-1.29-4.81-1.74-9.71-1.99-14.68-1.22-24.27-.89-48.56-.86-72.84,0-3.99-.11-8,.95-11.91,2.28-8.46,7.47-13.93,16.19-15.81,1.26-.27,2.54-.27,3.82-.27Z"/><path d="M1359.66,124.06c1.88,.01,3.7,.18,5.52,.51,8.37,1.49,13.35,6.79,16.06,14.47,1.3,3.69,.7,7.41-.67,11.03-2.21,5.84-5.65,10.92-9.74,15.57-2.74,3.13-5.74,6-9.32,8.21-4.41,2.72-9.08,3.33-14.04,1.97-4.17-1.14-7.81-3.21-10.92-6.23-3.32-3.22-5.84-7-7.63-11.24-2.78-6.59-1.87-12.87,2.05-18.7,6.84-10.17,16.58-15.12,28.7-15.59Z"/></svg> -->
                <?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 26.4.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 1619.3 536.1" style="enable-background:new 0 0 1619.3 536.1;" xml:space="preserve">
                    <g>
                        <path d="M642.9,505.4c-0.9-0.1-1.8-0.2-2.6-0.4c-2.3-0.4-4.5-1-6.5-2.1c-3.5-1.9-5.5-4.8-6.2-8.6c-0.2-1.2-0.3-2.5,0-3.7
                            c0.5-2.2,1.8-3.9,4-4.7c2.1-0.8,3.9-0.4,5.5,1.1c0.8,0.7,1.5,1.5,2.3,2.1c2.3,1.7,5,2.4,7.9,2.1c2.5-0.3,4.9-0.9,7.2-1.9
                            c3.5-1.6,6.2-4.2,8.1-7.6c1.4-2.6,2.2-5.3,2.9-8.2c0.7-3,1.1-6.1,1.3-9.2c0.2-2.6,0.4-5.2,0.4-7.8c0-0.6,0.1-1.1,0.1-1.7
                            c0-0.2,0.1-0.5-0.1-0.6c-0.2-0.1-0.4,0.1-0.6,0.2c-1,0.5-1.9,1.1-2.9,1.7c-1.6,0.9-3.1,1.8-4.8,2.5c-4,1.6-8.1,1.5-12-0.3
                            c-4.6-2-8.2-5.2-11.1-9.2c-3.3-4.6-5.2-9.7-6.2-15.2c-0.7-3.7-0.9-7.3-0.7-11c0.1-2.6,0.3-5.2,1.1-7.7c0.3-1.1,0.8-2.3,1.3-3.3
                            c1.3-2.4,3.7-3.6,6.3-3.2c2.7,0.5,4.7,2.7,4.8,5.4c0.1,1.2-0.1,2.5-0.2,3.7c-0.3,2.7-0.6,5.5-0.5,8.3c0.2,3.5,0.9,6.9,2.3,10.2
                            c0.7,1.6,1.5,3.2,2.6,4.7c1.5,2.1,3.5,3.6,6,4.5c0.5,0.2,1,0.2,1.5-0.1c1.9-1,3.2-2.5,4.1-4.5c0.8-1.8,1.2-3.6,1.5-5.5
                            c0.3-1.7,0.4-3.4,0.5-5.2c0.2-3.3,0.3-6.6,0.8-9.8c0.2-1.4,0.5-2.7,1.2-3.9c2.3-4.1,8.1-4.9,11.5-1c1.3,1.5,2.3,3.3,2.9,5.2
                            c0.9,2.8,1.9,5.6,2.6,8.4c0.6,2.2,0.9,4.4,1.1,6.7c0.2,3,0.4,6,0.6,9c0.2,4,0.2,8,0.2,12.1c-0.1,6.1-0.7,12.2-1.8,18.2
                            c-0.7,3.8-1.7,7.5-3.4,11c-3.5,7.4-8.9,12.9-16.4,16.2c-3.9,1.7-8,2.7-12.2,3.1c-0.1,0-0.3,0.1-0.4,0.1H642.9L642.9,505.4z"/>
                        <path d="M580.3,368.3c0.1,0,0.2,0.1,0.3,0.1c2.8,0.8,4.2,2.8,4.7,5.5c0.1,0.6,0.1,1.1,0.1,1.7c0.1,2.7,0.1,5.4,0.2,8.1
                            c0.1,3,0,6,0.1,9c0.1,2.3,0.1,4.6,0.1,6.9c0.1,2.4,0.2,4.9,0.3,7.3c0.1,1,0.1,2.1,0.1,3.1c0,0.2,0,0.3,0,0.5
                            c0.1,0.6,0.2,0.6,0.8,0.7c2.4,0.2,4.9,0.3,7.3,0.6c4.4,0.5,8.2,2.2,11.4,5.3c4.7,4.5,7.5,10.1,8.4,16.5c1.2,8.1-0.9,15.2-6.1,21.5
                            c-2.4,2.9-5.3,5.1-8.6,6.8c-4,2.1-8.2,3.6-12.6,4.5c-1.7,0.3-3.3,0.5-5,0.1c-2.5-0.5-4.3-1.9-5.5-4.1c-0.9-1.5-1.4-3.2-1.7-5
                            c-0.6-2.9-0.9-5.9-1-8.9c-0.1-2.4,0-4.8-0.1-7.2c-0.1-3.2-0.1-6.4-0.2-9.5c-0.1-2.8,0-5.6-0.1-8.4c-0.1-3.6,0-7.3-0.2-10.9
                            c-0.1-3.5,0-6.9-0.1-10.4c-0.1-3.8,0-7.7-0.1-11.5c-0.1-1.8-0.1-3.7-0.1-5.5c0-0.3,0-0.5-0.1-0.8v-4.6c0.2-0.6,0.2-1.3,0.2-2
                            c0.1-1.3,0.2-2.6,0.6-3.9c0.5-1.7,1.3-3.2,2.8-4.3c0.7-0.5,1.5-0.8,2.3-1.1C579.2,368.3,579.8,368.3,580.3,368.3z M587.2,425.5
                            c-0.1,0.1-0.1,0.3-0.1,0.4c-0.2,1.7-0.1,3.3-0.2,5c-0.1,2.1,0,4.3,0.1,6.4c0.1,2.9,0.4,5.7,0.8,8.6c0.2,1.4,0.4,2.7,0.6,4.1
                            c0.1,0.6,0.1,0.6,0.7,0.5c2.9-0.8,5.6-2,7.9-4c2.5-2.2,3.8-5,3.9-8.3c0.1-2.6-0.6-5.1-1.7-7.4c-0.2-0.3-0.4-0.5-0.7-0.6
                            c-3.6-1.5-7.2-2.9-10.8-4.4C587.5,425.5,587.4,425.4,587.2,425.5L587.2,425.5z"/>
                        <path d="M1046.5,475c0,0.2-0.1,0.3-0.1,0.5c-0.1,1.5-0.8,2.6-1.9,3.5c-2,1.5-4.1,1.7-6.3,0.6c-0.7-0.4-1.3-0.9-1.7-1.5
                            c-1.7-2.6-3-5.3-3.8-8.3c-1.2-5-2.3-10-3.3-15.1c-0.9-4.2-1.9-8.4-2.9-12.7c-0.1-0.6-0.2-1.3-0.5-1.9c-0.2,0-0.3,0.1-0.5,0.2
                            c-1,0.8-1.9,1.6-2.9,2.4c-0.6,0.5-1,1.1-1.4,1.7c-1.2,2.1-2.3,4.3-3.4,6.4c-0.7,1.4-1.4,2.8-2.2,4.1c-0.9,1.6-2.2,2.9-4,3.6
                            c-2.3,0.9-6.1,0.5-8.1-1.8c-1-1.1-1.5-2.4-1.8-3.8c-0.4-2.4-0.8-4.9-1.1-7.3c-0.4-2.8-0.8-5.7-1.2-8.5c-0.4-3.1-0.8-6.1-1.2-9.2
                            c-0.3-2.3-0.6-4.6-0.8-7c-0.2-1.5-0.2-3-0.3-4.5c-0.1-1.2-0.1-2.3-0.1-3.5c0-0.6,0.1-1.3,0.2-1.9c0.5-2.7,2.3-4.3,4.8-5.1
                            c0.8-0.3,1.7-0.1,2.5,0.2c0.6,0.2,1.2,0.5,1.7,0.8c0.7,0.5,1.3,1.1,1.7,1.9c0.7,1.8,1.2,3.7,1.6,5.6c0.8,4,1.5,8,2.1,12.1
                            c0.2,1.4,0.4,2.8,0.7,4.2c0.1,0.5,0.2,0.5,0.5,0.2c1.2-0.9,2.4-1.7,3.6-2.6c1.6-1.2,3.2-2.4,5-3.3c1.7-0.9,3.5-1.5,5.5-1.5
                            c2.7,0,5,1,6.9,2.8c1.7,1.7,2.9,3.7,4,5.8c1,2,1.6,4.1,2.1,6.3c1.3,5.5,2.5,11,3.7,16.5c1,4.5,1.9,9,2.9,13.4
                            c0.1,0.3,0,0.6,0.2,0.9L1046.5,475L1046.5,475z"/>
                        <path d="M820.8,424.1c-1.1,1.4-2.3,2.6-3.1,4.3c-2.2,5.1-4.4,10.2-6.5,15.3c-0.5,1.2-1.1,2.4-1.9,3.5c-1.1,1.5-2.5,2.6-4.3,3
                            c-4.8,0.9-8.5-2.3-8.9-6.4c-0.2-1.7-0.3-3.5-0.3-5.2c0-3.2-0.1-6.4-0.2-9.5c-0.1-2.8-0.5-5.4-1.9-7.9c0-0.1-0.1-0.2-0.1-0.2
                            c-0.1-0.2-0.2-0.4-0.4-0.5c-0.3,0-0.3,0.3-0.4,0.5c-1.2,2.4-1.9,4.9-2.4,7.5c-0.4,2.2-0.5,4.4-0.7,6.5c-0.3,2.7-0.5,5.5-1.1,8.2
                            c-0.4,1.8-1.3,3.2-2.9,4.2c-3.7,2.3-9.5,0.4-10.1-4.9c-0.4-3.2-0.7-6.4-1.1-9.5c-0.3-2.5-0.5-5.1-0.8-7.6c-0.3-2.9-0.5-5.7-0.8-8.6
                            c-0.1-1.6-0.2-3.3-0.3-4.9c-0.1-1-0.1-2-0.1-3c0-0.5,0.1-1.1,0.2-1.6c0.6-2.5,2.4-4,5-4.2c1.1-0.1,2.2,0.1,3.3,0.3
                            c0.4,0.1,0.7,0.2,1.1,0.3c1.7,0.5,3.3,0.2,4.9-0.5c1.5-0.7,3-1.2,4.6-1.6c3.4-0.8,6.4,0.1,8.9,2.5c1.8,1.8,3.2,3.9,4.5,6
                            c0.9,1.4,1.7,2.9,2.5,4.4c0.1,0.1,0.1,0.2,0.2,0.3c0.3,0.4,0.3,0.5,0.7,0.1c1.3-1.3,2.5-2.6,3.8-3.8c1.1-1.1,2.4-2.2,3.8-3
                            c4-2.2,8.3-1.9,11.8,1.2c1.3,1.2,2.3,2.5,3.3,4c2.4,3.8,4.1,8,5.4,12.3c1.5,4.8,2.9,9.6,4.7,14.3c1.1,3,2.4,5.9,4.3,8.6
                            c0.6,0.9,1.3,1.8,2.1,2.7c1.1,1.2,1.8,2.5,2.1,4.1c0.7,4.3-2.4,7-5.6,7.4c-1.5,0.2-2.9-0.1-4.1-1c-2.8-2.1-5.2-4.5-7-7.5
                            c-1.2-2.1-2.2-4.3-3.2-6.5c-1.4-3.4-2.8-6.9-4-10.4c-0.9-2.6-1.7-5.3-2.5-7.9C822.7,427.4,821.8,425.9,820.8,424.1L820.8,424.1z"/>
                        <path d="M722.1,442.9c1.4,0.5,2.7,0.9,4,1c2.6,0.3,5-0.4,7.1-1.9c1-0.6,1.9-1.2,3-1.7c1.6-0.7,3.3-1,5.1-0.7c2,0.4,3.4,1.6,4.3,3.5
                            c0.7,1.6,0.7,3.2,0,4.8c-0.4,1-1,1.9-1.8,2.8c-3.6,4.1-8.2,6.3-13.5,7.2c-3.5,0.5-6.9,0.3-10.4-0.6c-3.4-1-6.4-2.6-9-5
                            c-2.9-2.7-5.1-5.7-6.3-9.5c-0.7-1.9-1-3.9-1.4-5.9c-0.4-2.5-0.6-5.1-0.4-7.6c0.3-5.8,2-11.2,5.1-16.1c2.7-4.3,6.2-7.8,10.4-10.6
                            c2.1-1.4,4.3-2.4,6.8-2.7c3.3-0.5,6.3,0.3,9.1,2.2c1.8,1.2,3.3,2.8,4.5,4.7c1.9,3,3.3,6.1,4,9.6c1,5.7-0.5,10.7-4.3,15
                            c-1.8,1.9-3.9,3.5-6,4.9c-3.1,2.1-6.3,4.1-9.4,6.1C722.7,442.4,722.4,442.6,722.1,442.9L722.1,442.9z M717.7,427.4
                            c0,0.2,0,0.4,0,0.7c0,0.7,0.1,0.8,0.7,0.7c1.1-0.2,2.2-0.5,3.3-1c1.5-0.7,2.8-1.7,4.1-2.8c0.9-0.8,1.9-1.7,2.7-2.7
                            c0.8-1,0.9-2.1,0.5-3.2c-0.1-0.4-0.3-0.7-0.4-1c-0.5-1.1-1.2-2.1-1.9-3.1c-0.3-0.5-0.4-0.5-0.9-0.2c-1.5,1-2.9,2.1-4.2,3.4
                            C719.1,420.7,717.8,423.8,717.7,427.4L717.7,427.4z"/>
                        <path d="M877.5,434.7c0.8,0.1,1.5,0.2,2.3-0.1c1.5-0.5,3-1,4.6-1.3c0.9-0.1,1.7-0.2,2.6-0.1c1.5,0.2,2.6,0.9,3.5,2
                            c1,1.2,1.6,2.6,2.3,4c0.8,1.8,1.4,3.6,2,5.4c0.6,1.6,1.3,3.2,2,4.7c1.7,3.6,3.6,7.1,5.9,10.4c1.4,2.1,3,4,4.6,5.9
                            c0.9,1.1,1.6,2.2,2.2,3.5c1.1,2.5,0.4,6-1.7,7.8c-1.5,1.4-3.3,1.7-5.2,0.9c-2.1-0.9-4.1-2.1-5.8-3.7c-1.2-1.2-2.2-2.5-3.2-3.8
                            c-3.2-4.2-6.1-8.6-8.6-13.2c-0.4-0.7-0.8-1.5-1.2-2.2c-0.3-0.5-0.3-0.5-0.7-0.1c-1,0.9-2,1.8-3,2.7c-1.2,1.1-2.5,2.2-3.9,3.2
                            c-1.7,1.2-3.5,2-5.5,2.4c-3.8,0.7-7.4-1.1-9.2-4.4c-0.9-1.6-1.4-3.4-1.6-5.3c-0.2-1.7-0.3-3.5-0.2-5.3c0.2-6.9,1.9-13.4,5.6-19.3
                            c2.7-4.4,6.2-8.2,10.3-11.4c2.3-1.8,4.9-2.8,7.9-2.7c2.9,0,5.4,1.1,7.6,3c0.8,0.7,1.4,1.4,2,2.2c2.6,3.6,0.1,8.4-3.7,9
                            c-1.2,0.2-2.3,0.2-3.5-0.1c-1-0.3-2-0.5-3-0.8c-0.3-0.1-0.6,0-0.8,0.3c-1.5,2.1-3,4.1-4.5,6.2C877.5,434.5,877.5,434.6,877.5,434.7
                            L877.5,434.7z"/>
                        <path d="M932,420.5c0-2.8,0-5.7,0-8.5c0-2.9,0.1-5.7,0.3-8.6c0.1-2.9,0.3-5.9,0.6-8.8c0.3-4.1,0.7-8.1,1.4-12.1
                            c0.3-1.8,0.7-3.6,1.4-5.3c0.9-2.1,2.5-3.5,4.8-3.9c2.7-0.4,6,0.7,6.5,4.9c0.1,0.8,0.1,1.7,0,2.5c-0.1,1.6-0.1,3.1-0.2,4.7
                            c-0.1,2.5-0.3,4.9-0.4,7.4c-0.1,1.5-0.1,3.1-0.2,4.6c-0.1,2.3-0.3,4.7-0.4,7c-0.1,2.8-0.3,5.7-0.1,8.6c0.1,1.8,0,3.5,0.1,5.3
                            c0.1,2.8,0.2,5.7,0.2,8.5c0.1,2.4,0.1,4.7,0.2,7.1c0.1,3,0.2,5.9,0.3,8.9c0.1,2.7,0.4,5.5,1.5,8c0.5,1.2,1.1,2.3,1.9,3.4
                            c0.7,1,1.3,2,1.6,3.2c0.6,2.1,0,3.8-1.4,5.4c-1.4,1.4-3.1,2.2-5,2.4c-2.2,0.3-4.2-0.2-5.9-1.6c-0.7-0.6-1.2-1.3-1.7-2.1
                            c-1.9-2.9-3.1-6.1-3.6-9.5c-0.5-3.1-1-6.2-1.3-9.3c-0.1-1.3-0.2-2.5-0.3-3.8c-0.1-2.3-0.1-4.5-0.2-6.8
                            C932,428.2,931.9,424.3,932,420.5L932,420.5z"/>
                        <path d="M975.1,426.8c2.8,0,5.3,2,6.1,4.9c0.3,1.2,0.4,2.4,0.5,3.7c0.2,2.4,0.2,4.8,0.3,7.2c0.1,2.2-0.2,4.4-0.3,6.6
                            c-0.1,2.8-0.1,5.5,0.6,8.2c0.5,1.8,1.2,3.4,2.3,4.9c1.1,1.4,1.2,2.9,0.4,4.4c-0.9,1.9-2.4,3.3-4.5,3.8c-1,0.3-2,0.2-2.9-0.3
                            c-2-1.1-3.8-2.4-5.3-4.1c-1.3-1.6-2.1-3.4-2.7-5.4c-0.4-1.4-0.5-2.8-0.6-4.3c-0.4-7.1-0.3-14.2-0.3-21.3c0-1.2,0-2.3,0.3-3.5
                            c0.7-2.5,2.2-4.1,4.7-4.6C974.4,426.8,974.8,426.8,975.1,426.8L975.1,426.8z"/>
                        <path d="M970.6,404.6c0.6,0,1.1,0.1,1.6,0.1c2.4,0.4,3.9,2,4.7,4.2c0.4,1.1,0.2,2.2-0.2,3.2c-0.6,1.7-1.7,3.2-2.8,4.6
                            c-0.8,0.9-1.7,1.8-2.7,2.4c-1.3,0.8-2.7,1-4.1,0.6c-1.2-0.3-2.3-0.9-3.2-1.8c-1-0.9-1.7-2-2.2-3.3c-0.8-1.9-0.5-3.8,0.6-5.5
                            C964.2,406.2,967,404.7,970.6,404.6L970.6,404.6z"/>
                    </g>
                    <g>
                        <path d="M91.8,245c0,40.9,8.1,71.4,33.2,71.4c28.3,0,29.6-25.2,36.4-110.9c0.9-15.3,6.3-19.3,11.2-19.3c9.4,0,11.2,11.7,27,31
                            c14.4,17.5,20.7,25.2,20.7,37.3c0,51.2-51.2,75-101.1,75c-64.7,0-100.2-20.7-100.2-74.6c0-66,83.1-118.1,83.1-160.8
                            c0-11.2-6.3-17.1-18.9-17.1c-29.6,0-46.7,47.6-62.9,47.6c-6.7,0-10.3-3.1-10.3-10.3c0-4.9,2.2-22,2.2-32.8
                            c0-10.3-2.7-22.9-2.7-29.6c0-7.6,1.3-13.5,12.6-13.5c22.5,0,55.2,3.6,96.6,3.6c34.1,0,84-3.1,91.2-3.1c9.9,0,14.4,5.4,14.4,13.9
                            c0,31.9-22.5,77.7-39.1,77.7c-20.2,0-25.6-42.2-50.3-42.2C110.7,88.3,91.8,157.9,91.8,245z"/>
                        <path d="M240.1,181.2c0-109.6,32.8-143.3,87.1-143.3c18,0,47.6,11.2,67.4,11.2c23.8,0,28.7-13.9,36.8-13.9
                            c10.8,0,14.4,24.3,14.4,41.3c0,28.3-10.8,45.4-40.4,45.4c-38.6,0-75.5-39.1-114.1-39.1c-14.8,0-29.2,9-29.2,27.4
                            c0,37.3,57.5,54.8,96.1,54.8c32.3,0,45.4-14.8,53.9-14.8c4.5,0,6.7,2.2,6.7,9.9c0,37.3-4.9,59.7-28.7,59.7
                            c-34.6,0-49.4-51.7-94.8-51.2c-17.5-0.4-28.3,13-28.3,32.3c0,32.8,31.4,67.8,81.8,67.8c60.6,0,72.3-41.3,88.5-41.3
                            c6.7,0,11.2,8.1,11.2,25.2c0,47.2-41.3,76.8-87.6,76.8C281.8,329.5,240.1,281.4,240.1,181.2z"/>
                        <path d="M561.7,41.1c22.5,0,44-1.3,63.8-1.3c41.8,0,69.2,27.4,69.2,61.1c0,64.2-89.8,67.8-89.8,97c0,9,9.4,12.1,21.6,13.9
                            c36.4,3.1,51.7,13.9,58.4,48.5c3.1,17.1,9.9,30.1,19.3,37.7c8.5,6.3,11.2,10.3,11.2,15.7c0,9.9-10.3,13.9-34.1,13.9
                            c-56.1,0-72.8-25.2-73.7-71.9c-0.4-27.4-11.2-41.8-41.8-42.7c-7.2-0.4-11.2-4.9-11.2-9.9s3.1-8.1,9.4-9.4
                            c44.9-9.9,59.7-40.4,59.7-74.6c0-35.5-12.6-49.4-36.4-49.4c-37.3,0-64.2,50.3-64.2,120.8c0,72.8,64.7,98.4,64.7,126.7
                            c0,5.8-2.7,9.4-10.3,9.4c-5.8,0-30.1-2.2-49.9-2.2s-44.5,1.3-57.5,1.3c-5.8,0-9.9-4.9-9.9-12.1c0-16.6,49.9-69.6,49.9-123.5
                            c0-90.3-35-124.4-35-140.6c0-7.6,4.5-10.8,12.6-10.8C497.9,38.8,532.9,41.1,561.7,41.1z"/>
                        <path d="M826.7,41.1c22.5,0,44-1.3,63.8-1.3c41.8,0,69.2,27.4,69.2,61.1c0,64.2-89.8,67.8-89.8,97c0,9,9.4,12.1,21.6,13.9
                            c36.4,3.1,51.7,13.9,58.4,48.5c3.1,17.1,9.9,30.1,19.3,37.7c8.5,6.3,11.2,10.3,11.2,15.7c0,9.9-10.3,13.9-34.1,13.9
                            c-56.1,0-72.8-25.2-73.7-71.9c-0.4-27.4-11.2-41.8-41.8-42.7c-7.2-0.4-11.2-4.9-11.2-9.9s3.1-8.1,9.4-9.4
                            c44.9-9.9,59.7-40.4,59.7-74.6c0-35.5-12.6-49.4-36.4-49.4c-37.3,0-64.2,50.3-64.2,120.8c0,72.8,64.7,98.4,64.7,126.7
                            c0,5.8-2.7,9.4-10.3,9.4c-5.8,0-30.1-2.2-49.9-2.2c-19.8,0-44.5,1.3-57.5,1.3c-5.8,0-9.9-4.9-9.9-12.1c0-16.6,49.9-69.6,49.9-123.5
                            c0-90.3-35-124.4-35-140.6c0-7.6,4.5-10.8,12.6-10.8C762.9,38.8,798,41.1,826.7,41.1z"/>
                        <path d="M1111.9,42c41.3,0,74.6-3.6,84.9-3.6c8.5,0,13,6.3,13,13.9c0,15.3-20.7,46.3-20.7,102.9c0,56.1,27.8,134.3,27.8,158.1
                            c0,9.4-5.8,12.6-11.2,12.6c-6.3,0-19.3-3.1-28.7-3.1c-11.7,0-29.6,3.6-34.6,3.6c-6.3,0-11.2-4-11.2-9.9c0-18.9,49-48.5,49-98.4
                            c0-14.4-6.7-26.1-24.7-26.1c-27.8,0-48.5,13.9-70.1,13.9c-18,0-24.3-13.5-24.3-28.7c0-15.7,7.2-27.9,19.8-27.9s27,15.3,52.6,15.3
                            c30.1,0,43.6-17.1,43.6-41.3c0-25.6-19.3-43.6-52.6-43.6c-55.2,0-92.5,62.4-92.5,122.6c0,42.2,20.7,62.4,59.7,65.6
                            c18.9,0.9,24.3,7.6,24.3,20.2c0,27.8-21.1,38.6-68.3,38.6c-44.9,0-54.4-11.7-54.4-25.6c0-17.5,25.2-65.6,25.2-115
                            c0-79.5-5.8-111.8-5.8-134.8c0-6.7,4.9-12.6,13.9-12.6C1039.6,38.8,1068.4,42,1111.9,42z"/>
                        <path d="M1355,316c0,6.7-3.6,9.9-9.9,9.9c-5.4,0-26.5-1.8-43.6-1.8c-17.5,0-40,1.8-51.2,1.8c-6.7,0-11.2-5.4-11.2-13
                            c0-20.2,49-89.8,49-144.2c0-60.6-34.1-105.6-34.1-119c0-7.2,4-10.8,12.6-10.8c5.8,0,18,0.9,30.5,0.9c13,0,26.5-0.9,33.2-0.9
                            c5.8,0,9,4.5,9,9.9c0,15.3-37.3,59.3-37.3,119.9C1302,228.4,1355,290.4,1355,316z"/>
                        <path d="M1377.9,39.3c8.1,0,16.2,1.8,24.3,1.8c10.3-0.4,20.2-2.2,27.4-2.2c6.3,0,9,4,9,10.8c0,8.5-4,20.2-4,31.9
                            c0,5.8,2.2,13.5,12.6,13.5c22.9,0,49.4-58.8,97.9-58.8c25.6,0,46.3,18.4,46.3,50.8c0,72.8-68.3,95.7-68.3,136.1
                            c0,23.4,21.1,28.3,35.5,28.3c21.6,0,31-9.4,38.6-19.8c2.7-3.1,4.9-5.8,7.6-5.8c4.9,0,9,8.5,9,24.3c0,34.1-14.4,77.3-57.5,77.3
                            c-34.6,0-57-21.1-57-57c0-45.8,27.4-77.7,27-132.1c0.4-31.4-9.4-45.8-36.8-45.8c-34.1,0-66.5,48.5-66.5,115.4
                            c0,57.5,62.9,85.3,62.9,106c0,10.8-7.2,15.7-64.2,15.7c-47.6,0-53.9-3.1-53.9-14.4c0-24.3,42.7-61.1,42.7-110.9
                            c0-60.2-46.3-122.6-46.3-149.1C1363.9,44.2,1370.7,39.3,1377.9,39.3z"/>
                    </g>
                    </svg>

            </div>
        </a>
      </div>

        <p id="headerLink">byemalin.com/terrain</p>

    </header>

    <main id="terrainMain">

        <!-- LEFT -->
        <section id="terrainLeft">
            <div id="terrainTools" class="terrainCard">
                <div class="terrainTool" id="terrainButton">
                    <svg width="26" height="28" viewBox="0 0 26 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.0747 0.744772C7.20053 -0.139582 5.87406 8.26167 6.9795 11.3569C8.08494 14.4522 4.32642 17.1053 6.97948 19.3162C9.63254 21.5271 11.4012 19.3162 14.7176 17.1053C18.0339 14.8944 18.0339 17.7686 22.8978 17.1053C27.7618 16.442 22.8977 4.28212 19.3602 5.38756C15.8228 6.493 12.9488 1.62913 10.0747 0.744772Z" stroke="#0B0C0E" stroke-width="1.30303"/>
                        <path d="M7.3364 4.00234C4.46225 3.11799 3.13578 11.5192 4.24122 14.6145C5.34666 17.7098 1.58814 20.3629 4.2412 22.5737C6.89426 24.7846 8.66297 22.5737 11.9793 20.3629C15.2956 18.152 15.2956 21.0261 20.1596 20.3629C25.0235 19.6996 20.1594 7.53969 16.622 8.64513C13.0846 9.75057 10.2105 4.88669 7.3364 4.00234Z" stroke="#0B0C0E" stroke-width="1.30303"/>
                        <path d="M4.73044 7.25966C1.85629 6.37531 0.529821 14.7766 1.63526 17.8718C2.7407 20.9671 -1.01782 23.6202 1.63524 25.8311C4.2883 28.042 6.05701 25.8311 9.37333 23.6202C12.6897 21.4093 12.6897 24.2834 17.5536 23.6202C22.4175 22.9569 17.5534 10.797 14.016 11.9025C10.4786 13.0079 7.60459 8.14402 4.73044 7.25966Z" stroke="#0B0C0E" stroke-width="1.30303"/>
                    </svg>
                </div>
                <div class="terrainTool" id="spiralButton">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1.5062" y="12.8301" width="16.255" height="16.255" rx="0.625191" transform="rotate(-45.4096 1.5062 12.8301)" fill="#F4F7FA" stroke="#0B0C0E" stroke-width="1.25038"/>
                        <rect x="2.1542" y="8.475" width="16.255" height="16.255" rx="0.625191" transform="rotate(-23.8516 2.1542 8.475)" fill="#F4F7FA" stroke="#0B0C0E" stroke-width="1.25038"/>
                        <rect x="5.31027" y="21.2773" width="16.255" height="16.255" rx="0.625191" transform="rotate(-93.8545 5.31027 21.2773)" fill="#F4F7FA" stroke="#0B0C0E" stroke-width="1.25038"/>
                    </svg>
                </div>
                <div class="terrainTool" id="wavesButton">
                    <svg width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.23584 23.9507C4.45288 19.0826 11.3495 19.0826 13.3779 14.6201C15.4063 10.1576 12.1608 6.50644 17.029 4.47804C21.8972 2.44963 23.9256 2.85531 25.1426 0.826904" stroke="#0B0C0E" stroke-width="0.811363" stroke-linecap="round"/>
                        <path d="M5.26416 23.9507C6.4812 19.0826 13.3778 19.0826 15.4062 14.6201C17.4346 10.1576 14.1892 6.50644 19.0573 4.47804C23.9255 2.44963 25.9539 2.85531 27.171 0.826904" stroke="#0B0C0E" stroke-width="0.811363" stroke-linecap="round"/>
                        <path d="M1.20654 23.9507C2.42359 19.0826 9.32017 19.0826 11.3486 14.6201C13.377 10.1576 10.1315 6.50644 14.9997 4.47804C19.8679 2.44963 21.8963 2.85531 23.1133 0.826904" stroke="#0B0C0E" stroke-width="0.811363" stroke-linecap="round"/>
                        <path d="M6.88623 24.762C8.10327 19.8938 14.9999 19.8938 17.0283 15.4314C19.0567 10.9689 15.8112 7.31772 20.6794 5.28932C25.5476 3.26091 27.576 3.66659 28.793 1.63818" stroke="#0B0C0E" stroke-width="0.811363" stroke-linecap="round"/>
                    </svg>
                </div>
                <div class="terrainTool" id="pencilButton">
                    <svg width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.16743 19.6907L19.0623 3.78065C19.4955 3.37145 20.082 3.29608 20.3725 3.60423L22.6965 6.06944C22.987 6.37759 22.8742 6.9601 22.441 7.3693L5.54048 23.2714C5.36652 23.4308 5.16433 23.5504 4.95212 23.6053L1.90747 24.3969C1.21183 24.5796 0.595785 23.9224 0.81665 23.2393L1.79272 20.2498C1.86249 20.0447 1.98667 19.8489 2.16178 19.6828L2.16743 19.6907Z" stroke="#0B0C0E" stroke-width="1.37947" stroke-miterlimit="10"/>
                        <path d="M14.8073 7.78763L19.2875 3.5668C19.5956 3.27629 20.0832 3.28907 20.3737 3.59722L22.6977 6.06243C22.9882 6.37059 22.9755 6.85813 22.6673 7.14864L18.1872 11.3695L14.8141 7.78879L14.8073 7.78763Z" fill="#0B0C0E" stroke="#0B0C0E" stroke-width="1.37947" stroke-miterlimit="10"/>
                    </svg>
                </div>
            </div>
            <div id="terrainColors" class="terrainCard"></div>
        </section>

        <!-- CENTER -->
        <section id="terrainCenter" class="terrainCard"></section>

        <!-- RIGHT -->
        <section id="terrainRight">

            <div id="dynamicControls" class="terrainCard">

                <div id="strokeWeightDiv">
                    <label for="strokeWeightRange">Stroke Weight</label>
                    <input type="number" id="strokeWeightRange" name="strokeWeightRange" min="0.1" max="50" step="0.1">
                </div>

                <!-- Terrain tool specific controls  -->
                <div id="terrainControls">
                    <label for="waveRadiusRange">Wave Radius</label>
                    <input type="range" id="waveRadiusRange" name="waveRadiusRange" min="1" max="1200">

                    <label for="waveStrengthRange">Wave Strength</label>
                    <input type="range" id="waveStrengthRange" name="waveStrengthRange" min="100" max="1000">

                    <label for="terrainSpeedRange">Speed</label>
                    <input type="range" id="terrainSpeedRange" name="terrainSpeedRange" min="1" max="5">
                </div>
            </div>


            <div id="toggleSwitches" class="terrainCard">
                <section id="fillToggles">
                    <div>
                        <label>Fill</label>
                        <label class="switch">
                            <input type="checkbox" id="fillSwitch" name="fillSwitch">
                            <span class="slider"></span>
                        </label>
                    </div>

                    <div>
                        <label>Random</label>
                        <label class="switch">
                            <input type="checkbox" id="randomFillSwitch" name="randomFillSwitch">
                            <span class="slider"></span>
                        </label>
                    </div>
                </section>

                <section id="strokeToggles">
                    <div>
                        <label>Stroke</label>
                        <label class="switch">
                            <input type="checkbox" id="strokeSwitch" name="strokeSwitch">
                            <span class="slider"></span>
                        </label>
                    </div>

                    <div>
                        <label>Random</label>
                        <label class="switch">
                            <input type="checkbox" id="randomStrokeSwitch" name="randomStrokeSwitch">
                            <span class="slider"></span>
                        </label>
                    </div>
                </section>
            </div>

            <!-- <div id="artboardSize" class="terrainCard">
                <label>Artboard Size</label>
                <section>
                    <div>
                        <label for="artboardHeight">Height (px)</label>
                        <input type="number" id="artboardHeight" name="artboardHeight" placeholder="Height">
                    </div>
                    <div>
                        <label for="artboardWidth">Width (px)</label>
                        <input type="number" id="artboardWidth" name="artboardWidth" placeholder="Width">
                    </div>
                </section>
                <button id="resizeOK">OK</button>
            </div> -->

            <div id="documentControls" class="terrainCard">
                <button id="randomBG">Random BG</button>
                <button id="transparentBG">Transparent BG</button>
                <div id="downloadButtons">
                    <button id="downloadPNG">PNG↓</button>
                    <button id="downloadSVG">SVG↓</button>
                </div>
            </div>
        </section>

    </main>

</body>


<script>



//setting some global variables:
let angle = 0.0;

let radialLoop = 600;

let terrainShapes = [];




//DYNAMIC CONTROLS DOM

//fill and stroke toggles
const fillSwitch = document.getElementById('fillSwitch');
const randomFillSwitch = document.getElementById('randomFillSwitch');

const strokeSwitch = document.getElementById('strokeSwitch');
const randomStrokeSwitch = document.getElementById('randomStrokeSwitch');

strokeSwitch.checked = true; //starting with stroke on


//stroke weight
const strokeWeightRange = document.getElementById('strokeWeightRange');
strokeWeightRange.value = 0.5;

//Terrain Controls
//wave radius
const waveRadiusRange = document.getElementById('waveRadiusRange');
waveRadiusRange.value = 400;
//waveStrength
const waveStrengthRange = document.getElementById('waveStrengthRange');
waveStrengthRange.value = 200;
//waveSpeed
const terrainSpeedRange = document.getElementById('terrainSpeedRange');
terrainSpeedRange.value = 2;




// SCREENSAVER

// Declare variables for screensaver feature
let isScreensaverActive = false;
let activityTimeout;
const inactivityDuration = 20 * 1000; // in milliseconds

function resetActivityTimeout() {
  clearTimeout(activityTimeout);
  activityTimeout = setTimeout(startScreensaver, inactivityDuration);
}

function startScreensaver() {
  isScreensaverActive = true;
  clear();
  // Center the drawing
  translate(width / 2, height / 2);
  // Start the terrain tool automatically
  toggleToolState(terrain);
}

function stopScreensaver() {
  isScreensaverActive = false;
  clear();
  // Reset the canvas
  background(color('#FFFFFF'));
  terrainShapes = [];
  // Reset the activity timeout
  resetActivityTimeout();
}

function handleUserInteraction() {
  if (isScreensaverActive) {
    stopScreensaver();
  } else {
    resetActivityTimeout();
  }
}



document.addEventListener('mousemove', handleUserInteraction);
document.addEventListener('mousedown', handleUserInteraction);
document.addEventListener('keydown', handleUserInteraction);





function setup() {

    //Create Canvas and Set BG Colour
    const canvasFrame = document.getElementById('terrainCenter');

    const canvasWidth = canvasFrame.offsetWidth * 0.9;
    const canvasHeight = canvasFrame.offsetHeight * 0.9;
    createCanvas(canvasWidth, canvasHeight);

  appendCanvasToFrame(); //function to put canvas in right place in the DOM


  //set initial bg color:
  background(color("#FFFFFF"));

  //Create Colour Pickers
  fillColorPicker = createColorPicker("#FFD25A");
  strokeColorPicker = createColorPicker("#191919");

  //BGColorPicker = createColorPicker("#FFFFFF");



  appendColorPickers();


  //t for time for loops in draw.value incremented in draw
  t = 0;
  terrainSpeed = 0;
  //for random gradual color change over time
  colorIncrement = 0;


  // Attach event listeners for user interactions for screensaver
  // canvasFrame.addEventListener('mousemove', handleUserInteraction);
  // canvasFrame.addEventListener('mousedown', handleUserInteraction);
  // canvasFrame.addEventListener('keydown', handleUserInteraction);

  // radius for screensaver
  dynamicRadius = 500;
  textSize(width / 10);
  textAlign(CENTER, CENTER);
}



function draw() {


  if (!isScreensaverActive){  keyPressed(); //calling keyPressed within draw so that it continually loops


    strokeWeight(strokeWeightRange.value);

    //setting stroke and fill
    if (randomFillSwitch.checked) {
      var r = 255 * noise(colorIncrement + 10);
      var g = 255 * noise(colorIncrement + 15);
      var b = 255 * noise(colorIncrement + 20);
      fill(r, g, b);
    } else if(fillSwitch.checked){
      fill(fillColorPicker.color());
    } else {
      noFill();
    }

    if (randomStrokeSwitch.checked) {
      var r = 255 * noise(colorIncrement + 20);
      var g = 255 * noise(colorIncrement + 15);
      var b = 255 * noise(colorIncrement + 10);
      stroke(r, g, b);
    } else if(strokeSwitch.checked){
      stroke(strokeColorPicker.color());
    } else {
      noStroke();
    }




    let mouseInCanvas = mouseX > 0 && mouseX < width;


    //TERRAIN TOOL



    if (terrain.toggleState == true && mouseIsPressed == true && mouseInCanvas) {
      radialLoop = waveRadiusRange.value;
      waveStrength = waveStrengthRange.value;
      terrainSpeed = terrainSpeedRange.value;
      //move to mouse location
      translate(mouseX, mouseY);

      let currentTerrainShape = [];

      //shape funtion:
      beginShape();

      //main loop for terrain
      for (var i = 0; i < waveStrength; i++) {
        var ang = map(i, 0, waveStrength, 0, TWO_PI);
        //var ang = map(i, 0, 100, 0, TWO_PI);
        var rad = radialLoop * noise(i * 0.01, t * 0.005); //radius
        var x = rad * cos(ang);
        var y = rad * sin(ang);


        // Add the current point to the shape
        curveVertex(x, y);
        currentTerrainShape.push([x, y]); // Store the current point in the currentShape array

      }
      endShape(CLOSE);

      // Add the current shape to the shapes array
      terrainShapes.push(currentTerrainShape);

      //incrementing time

      t += Number(terrainSpeed); //terrain speed value seems to start as a string not sure why. Used number here to convert it into a number.



    }




    //SPIRAL TOOL

    if (spiral.toggleState == true && mouseIsPressed && mouseInCanvas) {

      let slider_val = 50;

      //move drawing starting point to mouse
      translate(mouseX, mouseY);
      rotate(angle); //rotate each loop of the draw function

      rect(-1 * slider_val, -1 * slider_val, slider_val * 2, slider_val * 2);
      angle += 0.1;

    }



    //WAVES TOOL
    if (waves.toggleState == true && mouseIsPressed && mouseInCanvas) {

      translate(mouseX-width/2, mouseY-height/2)



      var x1 = width * noise(t + 15);
      var x2 = width * noise(t + 25);
      var x3 = width * noise(t + 35);
      var x4 = width * noise(t + 45);
      var y1 = height * noise(t + 55);
      var y2 = height * noise(t + 65);
      var y3 = height * noise(t + 75);
      var y4 = height * noise(t + 85);

      bezier(x1, y1, x2, y2, x3, y3, x4, y4);

      t += 0.005;
    }

    //PENCIL TOOL
    if (pencil.toggleState == true && mouseIsPressed == true && mouseInCanvas) {
      stroke(strokeColorPicker.color());
      line(mouseX, mouseY, pmouseX, pmouseY);
    }

    colorIncrement += 0.001 //used at top of draw for gradual color change
  } else{
      // SCREENSAVER LOGIC
      // Additional logic for screensaver mode
      stroke(0);
      noFill();

      translate(width/2, height/2);

      text('TRY ME!', 0, 0);

      // Shape function:
      beginShape();

      // Main loop for terrain
      for (let i = 0; i < 200; i++) {
        const ang = map(i, 0, 200, 0, TWO_PI);
        const rad = dynamicRadius * noise(i * 0.01, t * 0.005); // Radius
        const x = rad * cos(ang);
        const y = rad * sin(ang);

        // Add the current point to the shape
        curveVertex(x, y);
      }

      endShape(CLOSE);

      if (dynamicRadius > 10){
        dynamicRadius -= 3;
      } else{
        clear();
        dynamicRadius = 500;
      }


      // Increment time
      t += 1;
  }
}//end of draw function





function keyPressed(){
    if(keyIsPressed){
        if(keyCode === DOWN_ARROW && radialLoop>0){
            console.log("DOWN");
            radialLoop -= 3;
            waveRadiusRange.value = radialLoop;
        } else if(keyCode === UP_ARROW){
            radialLoop += 3;
            waveRadiusRange.value = radialLoop;
        }
    }

}



// //WORKING WITH THE DOM:


function appendCanvasToFrame(){
  const canvasFrame = document.getElementById('terrainCenter');

  const nodeOfCanvas = document.querySelector('canvas');

  canvasFrame.appendChild(nodeOfCanvas);
}


function appendColorPickers(){
  const colorPickerFrame = document.getElementById('terrainColors');

  const colorPickers = document.querySelectorAll('input[type=color]');

  //labelling color pickers
  for(let i = 0; i<colorPickers.length; i++){
    const currentPicker = colorPickers[i];

    currentPicker.classList.add("terrainColor");

    colorPickerFrame.appendChild(currentPicker);

    currentPicker.id = 'colorPicker' + i;


    const colorLabel = document.createElement('label');

    switch (i){
        case 0:
            colorLabel.innerHTML = 'Fill';
            break;
        case 1:
            colorLabel.innerHTML = 'Stroke';
            break;
        case 2:
            colorLabel.innerHTML = 'BG';
            break;
        default:
            throw new Error('Color label assignment error');
    }

    colorLabel.htmlFor = 'colorPicker' + i;
    colorPickerFrame.appendChild(colorLabel);
  }

}




















//Button Event Listeners:


//tools

const terrainButton = document.getElementById('terrainButton')
terrainButton.onclick = terrainFile;

const spiralButton = document.getElementById('spiralButton')
spiralButton.onclick = spiralFile;

const wavesButton = document.getElementById('wavesButton')
wavesButton.onclick = wavesFile;

const pencilButton = document.getElementById('pencilButton')
pencilButton.onclick = pencilFile;


//save and clear:
const downloadPNG = document.getElementById('downloadPNG')
downloadPNG.onclick = savePNG;

const downloadSVG = document.getElementById('downloadSVG')
downloadSVG.onclick = terrainSaveSvg;

const transparentBG = document.getElementById('transparentBG')
transparentBG.onclick = clearFile;



//bg
const randomBG = document.getElementById('randomBG')
randomBG.onclick = randomBGFile;



//resize canvas
const resizeOK = document.getElementById('resizeOK')
//resizeOK.onclick = resizeArtboard;



//FUNCTIONS FOR BUTTONS:

//TOGGLE TOOLS

//objects for each tool with state and button node
const terrain = {
  toggleState: true,
  buttonNode: terrainButton
};

const spiral = {
  toggleState: false,
  buttonNode: spiralButton
};

const waves = {
  toggleState: false,
  buttonNode: wavesButton
}

const pencil = {
  toggleState: false,
  buttonNode: pencilButton
}

//array of all tool objects
const terrainTools = [terrain, spiral, waves, pencil];

function toggleToolState(tool){

    //set all tool states to false and passive color
    for(let i = 0; i<4; i++){
        terrainTools[i]['toggleState'] = false;
        terrainTools[i]['buttonNode'].style.backgroundColor='#F4F7FA';
    }
    //set chosen tool to true and active color
    tool['toggleState'] = true;
    tool['buttonNode'].style.backgroundColor='#3F68D1';

    //to be adjusted to better incorporate other tools

}

//setting the starting tool to terrain
toggleToolState(terrain);

//tools:

function terrainFile() {
    toggleToolState(terrain);
}

function spiralFile() {
    toggleToolState(spiral);
}

function wavesFile() {
    toggleToolState(waves);
}

function pencilFile() {
    toggleToolState(pencil);
}

//save, clear, background:

function savePNG() {
    saveCanvas('Terrain_byemalin', 'png')
}

function clearFile() {
    clear();
    terrainShapes = [];
}

function randomBGFile() {
  background(color(random(255), random(255), random(255)));
  terrainShapes = [];
}

function changeBGFile(e) {
  console.log(e.target.value);
}

//resize artboard

function resizeArtboard(){
    const newHeight = document.getElementById('artboardHeight').value;
    const newWidth = document.getElementById('artboardWidth').value;

    resizeCanvas(newWidth, newHeight);
}


//terrain save as SVG

function terrainSaveSvg() {
  console.log('Terrain Save Fired');
  // Create a new graphics object and draw each shape in the shapes array
  let g = createGraphics(width, height, SVG);
  g.background(255);
  g.strokeWeight(0.5);
  g.noFill();
  for (let i = 0; i < terrainShapes.length; i++) {
    let shape = terrainShapes[i];
    g.beginShape();
    for (let j = 0; j < shape.length; j++) {
      g.curveVertex(shape[j][0], shape[j][1]);
    }
    g.endShape(CLOSE);
  }

  // Use the save() function to download the graphics object as an SVG file
  save(g, 'byemalin.svg');
}


// Call resetActivityTimeout() at the beginning to start tracking user activity for screensaver
resetActivityTimeout();



const terrainControls = document.getElementById("terrainControls");

if (terrain.toggleState == true){
  console.log('ON');
} else {
  console.log('OFF');
}
</script>
