<main class = "mainSection90Width">


  <h3>Animation Projects</h3>

  <p>See more on <a href="https://www.instagram.com/byemalin" target="_blank">Instagram</a></p>
  <br>

  <div class="projectCardsContainer">
    <% @animation_projects.each do |project| %>
      <%= render 'shared/cards/animation_project_card' , project: project%>
    <% end %>
  </div>


</main>
