<main class="animationShow">
  <h3><%= @project.title %></h3>

  <% @project.videos.each do |video| %>
    <%= cl_video_tag video.key %>
  <% end %>

  <%# cl_image_tag @project.cover_photo.key %>

  <p><%= @project.description %></p>

</main>
