/* FOOTER */

footer{
  padding: 5vw;
  padding-bottom: 0;
  background-color: #0B0C0E;
  color: #F4F7FA;

  margin-top: 3rem;

  ul{
    display: flex;
    padding: 0;
  }
  li{
    list-style: none;
    padding:0 1rem;
  }
}

.footerMain{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 6vw;

  h2{
    margin: 1rem 0;
  }

  .profileImageContainer{
    width:4.4rem;
    height:4.4rem;
    margin-right:0.5rem;
  }
}


// Round avatar filling container:
.profileImageContainer{
  border-radius: 50%;
  overflow: hidden;

  img{
    max-width: 100%;
    height: auto;
  }
}




.inlineTextIMG{
  display: flex;
  align-items: center;
}

.footerLinks{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLinks p,
footer nav li a{
  color: #C7D0D9;
}




@media only screen and (max-width: 1020px){
   /* Footer */

  .footerMain{
    flex-direction: column;
    text-align: center;
    h2{
      font-size: 1.5rem !important;
    }
  }

  .inlineTextIMG{
    flex-direction: column;;
  }
}


@media only screen and (max-width: 767px){
  .footerLinks nav ul{
    flex-direction: column;
  }
}
