/* Popup Menu: */

.popupMenu{

  width:50vw;
  height:44rem;

  display: flex;
  justify-content: space-between;
  padding:5vw;

  box-sizing: border-box;

  a{
    color:white;
    transition: all 500ms;
    &:hover {
      color:red;
    }
  }
}

.popupMenuContainer{
  background-color: black;
  width:0px;
  position:absolute;
  overflow: hidden;
  right:0;
  top:0;
  transition: width 500ms ease-in 200ms;

  z-index: 1;
}


.popupContent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#columnNav{
  ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  h2{
    margin: 1rem;
    transition: color 500ms;
  }
}



.closeIcon{
  width:4.4rem;
  height:4.4rem;

  // background-color: #F4F7FA;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 500ms;
}


@media only screen and (max-width: 1020px){
  /* Main Header */
  .mainNavHeader nav{
    display: none;
  }

  .burgerContainer{
    display: block;
  }

  .popupMenu{
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
  }
}


@media only screen and (max-width: 767px){
  /* Popup */
  .closeIcon{
    width: 15vw;
    height: 15vw;
  }
}
