/* Popup Menu: */

.burgerContainer{
  width:4.4rem;
  height:4.4rem;

  background-color: #0B0C0E;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 500ms;

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);

  display: none;
}

.popupMenu{

  width:50vw;
  height:44rem;

  display: flex;
  justify-content: space-between;
  padding:5vw;

  box-sizing: border-box;

  a{
    color:white;
    transition: all 500ms;
    &:hover {
      color:red;
    }
  }
}

.popupMenuContainer{
  background-color: black;
  width:0px;
  position:absolute;
  overflow: hidden;
  right:0;
  top:0;
  transition: width 750ms ease-in 300ms;

  z-index: 1;
}


.popupContent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#columnNav{
  ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  h2{
    margin: 1rem;
    transition: color 500ms;
  }
}



.closeIcon{
  width:4.4rem;
  height:4.4rem;

  background-color: #F4F7FA;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 500ms;
}
