/* SPLIT SECTION CLASS */

.splitSection{
  display: flex;
  justify-content: space-between;
  align-items: start;

  margin: 0 5vw;
  padding: 3.5vw 0;

  .left{
    width:35%;
    display: flex;
  }

  .right{
    width: 65%;

    display: flex;
    flex-direction: column;
  }

  .half{
    width: 50%;
  }
}


@media only screen and (max-width: 1020px){
  /* Split section class */
  .splitSection{
    flex-direction: column;
    align-items: stretch;
  }

  .splitSection .right{
    width: 100%;
  }
  .splitSection .left{
    width: 100%;
  }
}
